<ion-view title="Minhas Listas" id="page1" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="minhasListas-list1" class=" manual-list-fullwidth ">

            <ion-item 
              class="item-icon-right"
              id="minhasListas-list-item4"
              ng-repeat="item in minhasListas" 
              ui-sref="menu.listaDetalhes({ listaId: item._id })">
              {{ item.name }}
              <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

        </ion-list>
        <div class="spacer" style="width: 300px; height: 43px;"></div>
        <form id="minhasListas-form1" class="list ">
            <label class="item item-input " id="minhasListas-input1">
                <span class="input-label">Nova lista</span>
                <input type="text" placeholder="Digite o nome da lista">
            </label>
            <button id="minhasListas-button1" class=" button button-royal  button-block icon-right ion-android-add ">Criar lista</button>
        </form>
    </ion-content>
</ion-view>